*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* basic styling for all links */
.text-link{
    text-decoration: none;
    color: white;
}

.text-link:hover{
    text-decoration: underline;
}
/* basic styling for all links */

/* navbar */
nav{
    position: fixed;
    width: 100vw;
    padding: 20px;
    background-color: #FF6900;
    z-index: 10;
}

nav .container{
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 135px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 0.5em;
}

nav ul .text-link{
    font-size: 15px;
    font-weight: bold;
}
/* end navbar */

/* card layout */
main.container{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 130px;
    padding-bottom: 60px;
}

main .card{
    max-width: calc((100% - 40px) / 3);
    position: relative;
}
/* card layout */

/* content of each card */
.card img{
    width: 100%;
    display: block;
}

.tags{
    position: absolute;
    bottom: 100px;
    left: 0;
}

.tag{
    padding: 7px 10px;
    font-weight: bold;
    color: white;
    display: inline-block;
}

.tg-red{
    background-color: red;
}

.tg-green{
    background-color: green;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 20px;

    padding: 10px 15px;
    background-color: white;
}

.name-article{
    font-weight: bold;
}

.price{
    display: inline-block;
    color: red;
    font-weight: bold;
}

.price::after{
    content: "\20AC";
    margin-left: 2px;
}

.price.old{
    color: black;
    font-weight: 400;
    text-decoration: line-through;
}
/* end content of each card */

/* footer */
footer{
    background-color: #1A1A1A;
    color: white;
    padding: 30px;
    border-bottom: 2px solid white;
    line-height: 1.5em;
}

footer div.container{
    justify-content: space-between;
}

footer ul{
    list-style: none;
    display: flex;
    gap: 0.5em;
}
/* end footer */
