*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* basic styling for all links */
.text-link{
    text-decoration: none;
    color: white;
}

.text-link:hover{
    text-decoration: underline;
}
/* basic styling for all links */

/* navbar */
nav{
    position: fixed;
    width: 100vw;
    padding: 20px;
    background-color: #FF6900;
}

nav .container{
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 135px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 0.5em;
}

nav ul .text-link{
    font-size: 15px;
    font-weight: bold;
}
/* end navbar */